<app-dashboard></app-dashboard>

<body>

   
    <div class="form">
        <h4>Service Plan List</h4>
    <table class="center">
      <tr>
        <th>Service Plan</th>
        <th>Price</th>
       
      </tr>
      <tr>
        <td>Silver Plan</td>
        <td contenteditable="true">10000</td>
        
      </tr>
      <tr>
        <td>Gold Plan</td>
        <td>15000</td>
        
      </tr>
      <tr>
        <td>Platinum Plan</td>
        <td>25000</td>
        
      </tr>
      </table>
    </div>
      </body>
      