<h1>Welcome to Admin</h1>
<div id="sidebar" class="sidebar">

  <ul>

    <li> DASHBOARD</li>
    <li> <a routerLink="/view">Customer List </a>

    </li>
    <li> <a routerLink="/service">Service Plan Management</a></li>
    <li><a  routerLink="/addon">Add-on Management</a></li>
    <li><a routerLink="/about">About </a> </li>
    <li><a href="#">Contact</a></li>

  </ul>

</div>

<body>

   
    <div class="form">
        <h4>Service Plan List</h4>
    <table class="center">
      <tr>
        <th>Service Plan</th>
        <th>Price</th>
       
      </tr>
      <tr>
        <td>Silver Plan</td>
        <td contenteditable="true">10000</td>
        
      </tr>
      <tr>
        <td>Gold Plan</td>
        <td>15000</td>
        
      </tr>
      <tr>
        <td>Platinum Plan</td>
        <td>25000</td>
        
      </tr>
      </table>
    </div>
      </body>
      