<app-dashboard></app-dashboard>
<div>
    <body>
      <div class="form">
       
    <table class="center">
      <tr>
        <th>Contact</th>
        <th>Numbers</th>
       
      </tr>
      <tr>
        <td>Land line</td>
        <td contenteditable="true">0883-2445051</td>
        
      </tr>
      <tr>
        <td>Phone number</td>
        <td>8688999978</td>
        
      </tr>
      <tr>
        <td>customer care</td>
        <td>1800 425 3878</td>
        
      </tr>
      </table>
    </div>
    </body>
  </div>
