<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<div style="text-align: center">
    <h3>{{message}}</h3>
</div>
<h1 id="title">SPLASH WASHERS</h1>
<div class="header">
<a routerLink="/login" >Login</a>&nbsp;&nbsp;
<a routerLink="/register">SignUp</a>
</div>
<img id="image" src="../assets/image/istockphoto-482833590-1024x1024.jpg">
<h2 id="caption">Your car, our shine!!</h2>
<div class="container">
    <!-- <form> -->
    <div class="row">
        <div class="col-md-6">
                <fieldset>

                    <div class="form-group">
                       <div><label>CAR ID </label></div> 
                        <input id="id" name="id" class="form-control" 
                        [(ngModel)]="custCarDetails._id" #userName="ngModel"
                        placeholder="Enter ID">
                        
                    </div>

                    <div class="form-group">
                        <input class="btn button" type="submit" name="submit_reg" value="submit" (click)="deleteDetails()"  >
                    </div>
                </fieldset>
            </div>
    </div>
<!-- </form> -->

</div>