<html>

<head>

    <title>

    </title>

</head>

<body>
    <div class="main">
        <div class="header">
            <table class="table">
               
            </table>
        </div>
        <div class="sub">

            <div class="subdiv">
                <table class="table">

                    <thead class="thead-dark">

                        <th>CarName</th>
                        <th>Payment Details</th>
                        <th>Package</th>
                        <th>Date</th>
                        <th>Time</th>
                    </thead>
                    <tbody>
                        <tr >
                            <td>{{carName1}}</td>
                            <td>{{paymentDetails1}}</td>
                            <td>{{packAge1}}</td>
                            <td>{{date1}}</td>
                            <td>{{time1}}</td>
                            
                        </tr>
                    </tbody>
                </table>

            </div>

        </div>
    </div>
</body>

</html>