*{
    margin:0px;
    padding: 0px;
    font-family: sans-serif;
}
.sidebar{
    position: fixed;
    width: 300px;
    height:100%;
    background: black;
    

}

.sidebar  ul li{
     color: white;
    list-style: none;
    padding: 15px 10px;
    
}
.sidebar a {
    color: white;
    
    border-bottom: 1px solid rgba(100,100,100,0.3);
}

h1{
    text-align: center;
}



       
        .center{ 
            border: 1px solid black;
            float:right;
            text-align: center;
          }
          th, td {
            border: 1px solid black;
          }
          .form{
            text-align: center;
            display: flex;
            justify-content: center;
            margin:90px;
            float:right;
        }       