<app-header></app-header>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
 <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<!------ Include the above in your HEAD tag ---------->


<form [formGroup]="registerForm" #formreg="ngForm" (ngSubmit)="submitNow(formreg)" novalidate>
    <div class="container">
      <h1><i class="fa fa-user icon" style="font-size: 54px;color: green;"></i>Register</h1>
      <!-- <p>Please fill in this form to create an account.</p> -->
      <hr>
  
      <div class="input-container">
        <i class="fa fa-user icon" style="font-size: 32px;color:black"></i>
        <input class="input-field" type="text" formControlName="userName" placeholder="Enter your username..." ngModel name="userName"
        id="name" [ngClass]="{ 'is-invalid': submitted && f.userName.errors }" />
        <div *ngIf="submitted && f.userName.errors" class="invalid-data">
          <div *ngIf="f.userName.errors.required">username is required</div>
        </div>
      </div>
      <div class="input-container">
        <i class="fa fa-key icon" style="font-size: 32px;color:black"></i>
        <input class="input-field" type="password" placeholder="Password" formControlName="password" ngModel name="password"
        [ngClass]="{'is-invalid': submitted && f.password.errors}" />
        <div *ngIf="submitted && f.password.errors" class="invalid-data">
          <div *ngIf="f.password.errors.required">password is required!</div>
          <div *ngIf="f.password.errors.minlength">password must be atleast 5 characters!</div>
        </div>
      </div>
      <button type="submit" class="registerbtn" >Submit</button>
      <!-- <div class="form-group">
        <input class="btn btn-success" type="submit" name="submit_reg" value="submit" (click)="submitNow()">
       
    </div> -->
</div>
</form>
