
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<div style="text-align: center">
    <h3>{{message}}</h3>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-6">
                <fieldset>
                    <h1>CarWash Registration</h1>
                   

                    <div class="form-group">
                        <label>UserName </label>
                        <input id="userName" name="userName" class="form-control" pattern="[a-zA-Z ]*"
                        [(ngModel)]="customerDetails.userName" #userName="ngModel"
                        placeholder="Enter valid username" >
                        <div *ngIf = "userName.invalid" class="alert alert-danger">enter proper username</div>
                    </div>

                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" class="form-control" id="name" [(ngModel)]="customerDetails.password" placeholder="Enter password" required>
                     
                     </div>
                    <div class="form-group">
                        <input class="btn btn-success" type="submit" name="submit_reg" value="submit" (click)="submitNow()">
                       
                    </div>
                    <!-- <div  class="alert alert-danger col-sm-3" *ngIf="errorcontrol">
                        User Already Exists!Please enter new credentials
                    </div> -->
                    
                </fieldset>
            </div>
    </div>
   

</div>