body {
    padding-top:50px;
    /* background-image: url('src\assets\image\download.jpg'); */
}
fieldset {
    border: thin solid #ccc; 
    border-radius: 4px;
    padding: 20px;
    padding-left: 40px;
    background: #fbfbfb;
    /* background-image: url("src\assets\image\istockphoto-482833590-1024x1024.jpg");
    background-position: center;
    /* background-size: 100%; */
} 
legend {
   color: #678;
}
.form-control {
    width: 95%;
}
label  {
    font-size: large;
    color: black;
}
span.req {
    color:maroon;
    font-size: 112%;
}
h4{
    text-align: center;
}
h3{
    text-align: center;
}
.line{
    text-align: center;
 }
 h1{
    text-align: center;
    font-family: courier,arial,helvetica;
}
.header{
    padding: 10px;
    text-align: right;
    text-align: left;
    background-color:blanchedalmond;
    font-size: large;
    color: black;
}
#image{
    float:left;
    width: 500px;
    height: 400px;
    position:static;
    
}
h2{
    text-align: center;
    font-family: courier,arial,helvetica;
}